@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as fonts;

.signals {

    color: #fff;
    font-family: fonts.$mainFont;

    &-container {
        display: flex;
        flex-direction: column;

        .pairs {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            p {
                padding: 0 20px;
            }

            &-content {
                display: flex;
                gap: 15px;
                margin-top: 10px;
                overflow-x: auto;
                padding-bottom: 8px;
                padding: 20px;

                .active {
                    background:
                        linear-gradient(to right,
                            #0b1220 10%,
                            rgba(0, 153, 255, 0.12) 70%,
                            rgba(0, 153, 255, 0.25) 99%,
                            transparent 100%);
                    border-radius: 12px;
                    border: 1px solid rgba(0, 153, 255, 1);
                    box-shadow: 0 0 8px rgba(0, 153, 255, 0.9), 0 0 8px rgba(0, 153, 255, 0.7), 0 0 14px rgba(0, 153, 255, 0.5);
                }


                .pair {
                    font-size: 12px;
                    background-color: #111c2e;
                    border: 1px solid #232937;
                    border-radius: 14px;
                    padding: 12px;
                    font-weight: bold;
                    white-space: nowrap;
                }
            }
        }

        .times {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            p {
                padding: 0 20px;
            }

            &-content {
                display: flex;
                gap: 15px;
                margin-top: 10px;
                overflow-x: auto;
                padding-bottom: 8px;
                padding: 20px;

                .active {
                    background:
                        linear-gradient(to right,
                            #0b1220 10%,
                            rgba(0, 153, 255, 0.12) 70%,
                            rgba(0, 153, 255, 0.25) 99%,
                            transparent 100%);
                    border-radius: 12px;
                    border: 1px solid rgba(0, 153, 255, 1);
                    box-shadow: 0 0 8px rgba(0, 153, 255, 0.9), 0 0 8px rgba(0, 153, 255, 0.7), 0 0 14px rgba(0, 153, 255, 0.5);
                }

                .time {
                    flex: 1;
                    text-align: center;
                    font-size: 10px;
                    background-color: #111c2e;
                    border: 1px solid #232937;
                    border-radius: 12px;
                    padding: 10px;
                    font-weight: bold;
                    white-space: nowrap;
                }
            }
        }
    }
}