@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as fonts;

.footer{
    position: fixed;
    bottom: 0;
    font-family: fonts.$mainFont;
    border-top: 1px solid #232f3b;
    background-color: #0e1118;
    width: 100%;

    &-nav{
        display: flex;
        justify-content: space-around;
        padding: 10px 0;

            .active{
                color: #00c3fd;
            }

            a{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            span{
                font-size: 12px;
            }
            img{
                width: 25px;
            }
        }
    }
}
