@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as fonts;

.footer {
    position: fixed;
    bottom: 0;
    font-family: fonts.$mainFont;
    border-top: 1px solid #232f3b;
    background-color: #0e1118;
    width: 100%;

    &-nav {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;

        .active {
            color: #00c3fd;
        }

        .icon {
            width: 26px;
            height: 26px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }

        /* обычные */
        .icon.home {
            background-image: url("/images/home.png");
        }

        .icon.signals {
            background-image: url("/images/signals.png");
        }

        .icon.lessons {
            background-image: url("/images/lessons.png");
        }

        .icon.profile {
            background-image: url("/images/profile.png");
        }

        /* активные */
        .active .icon.home {
            background-image: url("/images/homeactive.png");
        }

        .active .icon.signals {
            background-image: url("/images/signalsactive.png");
        }

        .active .icon.lessons {
            background-image: url("/images/lessonsactive.png");
        }

        .active .icon.profile {
            background-image: url("/images/profileactive.png");
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            span {
                font-size: 12px;
            }

        }
    }
}